body{
	 margin: 0;
     background: grey;
}
div{
	width: 70%;
	margin: auto;
}
table{
	width: 100%;
	background: white;
	border-collapse: collapse;
	margin-top: 60px;
	color: grey;
}

tr{
	text-align: center;
}

th{
	font-size: 18px;
	background: pink;
	padding: 10px;
}

td{
	font-size: 18px;
	padding: 10px;
}